* {
  margin: 0px;
  padding: 0px;
}
#main {
  background-color: #a1cda8;
  min-height: 92vh;
  color: #627264;
}

img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#details {
  padding-top: 10px;
  font-size: 1.4rem;
}
#skills,
#interests,
#courses {
  background: #627264;
  color: #a1cda8;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.Right {
  padding-right: 100px;
}
td {
  padding-left: 10px;
}
