* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  overflow-y: auto;
}

.about-container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #a1cda8;
  color: #627264;
}
.Left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.Left img {
  width: 100%;
  height: auto;
  margin: 10px;
}
.Right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.Right .details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-size: 1.4rem;
}

.details p {
  margin: 10px;
}

.Right .bottom_right {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.skills,
.interests,
.courses {
  background: #627264;
  color: #a1cda8;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
@media screen and (max-width: 767px) {
  .about-container {
    flex-direction: column; /* Stack items on top of each other for smaller screens */
    height: auto; /* Adjust height to fit content */
  }

  .Left,
  .Right {
    width: 100%; /* Full width for smaller screens */
  }

  .Left img {
    width: 100%; /* Make the image take up full width */
  }

  .Right .details,
  .Right .bottom_right {
    flex-direction: column;
    width: 100%; /* Full width for smaller screens */
  }
}
