* {
  margin: 0;
  padding: 0;
}

.home {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #a1cda8;
  color: #c5e7e2;
}

.img {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
}

.detail_container {
  display: flex;
  flex-direction: column;
  background-color: #627264;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 30%;
}

p {
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .home {
    flex-direction: column; /* Display columns vertically */
  }

  .img {
    width: 80%; /* Full width for each column on smaller screens */
    margin: 10px;
  }
  .detail_container {
    width: 80%;
    margin: 10px;
  }
}
