* {
  margin: 0;
  padding: 0;
}

.Contact {
  height: 92vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #a1cda8;
  padding-top: 30px;
}

.title p {
  color: #627264;
  font-size: 40px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links a {
  text-decoration: none;
  margin: 10px;
}
