* {
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #627264;
  overflow: hidden;
  flex-wrap: wrap;
  height: 10vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: #a1cda8;
}

.logo {
  margin: 10px;
  padding: 10px;
}

.logo a {
  font-size: 32px;
  font-weight: 600;
  text-decoration: none;
  color: #a1cda8;
}

.logo a:hover {
  color: #c5e7e2;
  transition: 0.35s;
}

.nav-elements {
  font-size: 24px;
  font-weight: 600;
}

.nav-elements ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-elements a {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: #a1cda8;
  margin: 10px;
}
.nav-elements a:hover {
  color: #c5e7e2;
  transition: 0.35s;
}

/* Palette 
--feldgrau: #627264ff;
--celadon: #a1cda8ff;
--celadon-2: #b5dfcaff;
--mint-green: #c5e7e2ff;
--rose-quartz: #ad9baaff;
 */
