* {
  margin: 0px;
  padding: 0px;
}

.navbar {
  height: 10vh;
  background: #627264;
}

#link {
  color: #a1cda8;
  font-weight: 600;
  margin: 10px;
  font-size: 36px;
}

#top-menu a:hover {
  color: #c5e8c9;
}
#top-menu a:focus {
  color: #9cad9e !important;
}
#navbarTogglerDemo01 {
  background-color: #627264;
}
